AUTH_SERVICE_URL=http://auth:5000
USER_SERVICE_URL=http://user:8080
CHAT_SERVICE_URL=http://chat:8080
MEDIA_SERVICE_URL=http://media:8080
WS_SERVICE_URL=http://websocket:8000
PRESENCE_SERVICE_URL=http://presence:5001
PORT=8000
